<h2 mat-dialog-title>Create Course</h2>

<mat-dialog-content>
  
    <mat-form-field>
        <input matInput
                placeholder="Course Name"
                [(ngModel)]="course.name"
                name="name"
                required
               >
    </mat-form-field>
    <mat-form-field class="full-width">
        <textarea
            matInput
            placeholder="Course Description"
            [(ngModel)]="course.description"
            name="description"
            required
            type="text">
        </textarea>
    </mat-form-field>
 
</mat-dialog-content>

<mat-dialog-actions >
    <button mat-raised-button (click)="close()">Close</button>
    <button mat-raised-button color="primary" class="button-container" (click)="save()">Save</button>
</mat-dialog-actions>
