<div class="courses-containers">


    <div class="courses-list">
        <app-courses-list
             [courses]="courses"
             (selectCourse)="selectCourse($event)"
             (deleteCourse)="deleteCourse($event)"
             (openDialog)="openAddCourseDialog()"
           >
         </app-courses-list>
     </div>

    <div class="course-details">
       <app-courses-details
            [selectedCourse]="selectedCourse"
            (updateCourse)="updateCourse($event)"
            (reset)="reset()">
        </app-courses-details>
    </div>
</div>