<div class="mat-list-item-content">
  <h3>Courses List</h3>
  <button mat-raised-button color="primary" class="button-container" (click)="openDialog.emit()" >Add Course</button>
</div>

<mat-card>
  <mat-card-content>
    <mat-list>
      <mat-list-item class="mat-list-item-content"
        *ngFor="let course of courses"
        (click)="selectCourse.emit(course)">

        <div>
          <span matListItemTitle>{{ course.name | titlecase }} </span>
          <!-- <h3 matLine>{{ course.name | titlecase }}</h3> -->
          <!-- <p matLine>
                 
                </p> -->
          <span matListItemLine> {{ course.description }}</span>
        </div>

        <button
       
          mat-icon-button
          color="warn"
          (click)="deleteCourse.emit(course.id); $event.stopImmediatePropagation()">
          <mat-icon>delete</mat-icon>
        </button>

      </mat-list-item>
    </mat-list>

  </mat-card-content>
</mat-card>
